<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"
      xml:lang="en" lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd ">
<wicket:panel>
    <div>
        <div wicket:id="container">
            <label wicket:for="input">
                <span wicket:id="label">Label</span>
            </label>
            <input wicket:id="input" type="text" id="input" name="input" size="20"/>
        </div>
    </div>
    <div>
        <p wicket:id="feedback"/>
    </div>
</wicket:panel>
</html>